doctype html
html(ng-app)
    head
        title Oops
        style(rel="stylesheet", href="/css/app.less")
    body
        h1 Well we feel sheepish...
        h2= message
        p= error.status
        p= error.stack

        script(src="/bower_components/angular/angular.js")
        script(src="/bower_components/angular-bootstrap/ui-bootstrap.js")